<section>
    {{> header}}
    <p id="cartId" style="display: none;">{{user.cartId}}</p>
    <h1>Anticipate al día del amigo con 25% de descuento</h1>

    {{#if user}}
    <a href="/cart">go to Cart</a>
    {{/if}}
    <ol class="container-fluid d-flex flex-row mb-3 flex-wrap row-gap-3 column-gap-3 justify-content-around">
        {{#each products}}
        <li class="card" style="width: 18rem">
            <img src="{{this.thumbnail}}" class="card-img-top" alt="Product Image">
            <p class="card-text">{{this.title}}</p>
            <p class="card-text">{{this.description}}</p>
            <p class="card-text">$ {{this.price}}</p>
            <a href="" id="{{this._id}}" class="card-link add_btn">add to cart</a>
        </li>
        {{/each}}
    </ol>

    <a href="/cart">go to Cart</a>
</section>

<script src="/js/index.js"></script>